@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root {
  --bg-color: rgba(228, 228, 228, 0.212);
  --bg-color-2: rgba(73, 252, 127, 0.212);
  --bg-color-3: rgba(255, 217, 0, 0.253);
  --bg-color-4: rgba(255, 217, 0, 0.388);
  --header-color: gold;
  --black: #010101;
  --white: #fff;
}

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

@media (max-width: 500px) {
  .tea-logo {
    display: inline;
  }
}
.container {
  background-image: url('../img/pexels-thought-catalog-904616.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.tea-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2% 0 5% 0;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  color: var(--header-color);
  text-shadow: 8px 1px 10px var(--black);
  font-stretch: condensed;
  letter-spacing: 0.15rem;
}

.tea-logo > img{
  width: 50px;
  height: 50px;
  margin: 0 1.5%;
  
}

footer > p {
  text-transform: lowercase;
  font-size: 0.8rem;
  margin: 1% 0 1% 0;
}

.wordpress {
  color: var(--black);
  text-decoration: none;
}
.wordpress:visited{
  color: var(--black);
}
.wordpress:hover{
  color:var(--black);
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.line {
  height: 2px;
  background-color:rgba(228, 228, 228, 0.443);
  box-shadow: -90px 66px 0px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: -90px 66px 0px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: -90px 66px 0px -5px rgba(0,0,0,0.75);
  margin: 2% 0 3% 0;
}

.tea-menu {
  width: 100%;
  max-width: 80%;
  background-color: var(--bg-color);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.tea-section-title {
  color: var(--black);
  font-size: 2rem;
  font-weight: 500;
  margin: 2% 0 2% 0;
  background-color: var(--bg-color-4);
}

.tea-items p {
  display: inline-block;
  font-weight: 400;
  margin: 5px 0px;
  padding: 0 1% 0 2%;
}

.tea-flavor, .collection-flavor {
  width: 75%;
  background-color: var(--bg-color-2);
  text-align: left;
}
  
.tea-price, .collection-price {
  width: 25%;
  background-color: var(--bg-color-3);
  text-align: right;
}
 

